.Logo {
    background-color: #F6EEEE; 
}
.Menu {
    background-color: green;
}
.menu {
    background-color: rgb(211, 242, 186);
}

.footer {
    background-color: #F6EEEE;
}
.pic {
    background-color: #F6EEEE;
}
.content {
    height: 213px;
    border: 1px solid #080101 ;
    border-radius: 15px;
    margin-top: 20px;
}
.logo img {
    height: 50px;
}
.nav-tabs {
    margin-top: 7px;
}
.pic img {
    display: inline-block;
    margin-left: 4%;
    margin-top: 3px;
    margin-bottom: 5px;
}
.left-menu a {
    color: green;
}
.row-3 {
    background-color: rgb(211, 242, 186);
}
hr {
    color: black;
}
.btn-lg-facebook {
    background-color:;
}
.icon {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.copy {
    text-align: center;
    margin-top: 70px;
}
.blockquote-reverse {
    border-right: 0px;
}